.container {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

.fullWidth {
    width: 100%;
}

.label {
    font-size: var(--text-sm);
    font-weight: var(--font-semibold);
    color: var(--color-gray-700);
}

.input {
    padding: var(--space-3);
    border-radius: var(--radius-md);
    border: 1px solid var(--color-gray-200);
    font-size: var(--text-sm);
    outline: none;
    transition: all var(--transition-fast);
}

.input:focus {
    border-color: var(--color-primary-500);
    box-shadow: 0 0 0 2px var(--color-primary-100);
}

.errorInput {
    border-color: var(--color-error);
}

.errorText {
    color: var(--color-error);
    font-size: var(--text-xs);
}